<!DOCTYPE html>
<html lang="en-US">
   <head>
      <script  src="https://www.gstatic.com/charts/loader.js"></script>
      <script>
         google.charts.load('current', {packages: ['corechart', 'table']});
      </script>
      <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
      <link rel="stylesheet" type="text/css" href="explorer.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="date_utils.js" ></script>
      <script src="explorer_ui.js" ></script>
      <script>
	  model_data = 
		${model}
	  </script>
      <title>Apollo Forecast</title>
   </head>
   <body onload="drawForecastData();">
      <div id="thecontainer" class="container">
         <header>
            <h1>Generated Forecast</h1>
         </header>
         <nav id="nav_div">
            <div id="widgets_bar">
               <div class="param_header">Result Format</div>
               <div>
                  <select id="chartSelect" name="chartSelect">
                     <option value="line" selected>Line Chart</option>
                     <option value="area">Area Chart</option>
                     <option value="column">Column Chart</option>
                     <option value="scatter">Scatter Chart</option>
                     <option value="stepped">Stepped Chart</option>
                     <option value="histogram">Histogram</option>
                     <option value="table">Table</option>
                  </select>
               </div>
               <div class="param_header">Show/Hide</div>
               <div><select id="showHide" name="showHide" multiple></select></div>
               <div class="param_header">Date/Time Format</div>
               <div>
                  <select id="timezoneSelect" name="timezoneSelect">
                     <option value="local" selected>Local</option>
                     <option value="utc">UTC</option>
                     <option value="unix">Integer</option>
                  </select>
               </div>
               <div class="update_div"><button id="refreshbutton" onclick="refreshChart()">Refresh Output</button></div>
               <div class="update_div"><span  id="outfile_span"></span></div>
            </div>
         </nav>
         <article id="results_container">
            <div id="results_title"></div>
            <div id="results_note"></div>
            <div id="results_div"></div>
            <div id='png'></div>
         </article>
         <footer></footer>
         <div id="error_container"><span id="status_msg"></span></div>
      </div>
   </body>
</html>